/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

/*Considerações Gerais*/

*{
	margin: 0;
	padding: 0;
}
body, html{
height: 100%;
background-size: cover;
background-repeat: no-repeat;
}

header a{
	color: white;
}


/*Estilos do Cabeçalho*/
.container{
height: 100%;
}

.card{
height: 370px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(241, 173, 24);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color:  rgb(241, 173, 24);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color:  rgb(241, 173, 24);
text-align: center;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/
/*Extra small -
<576px	Small -sm
≥576px	Medium -md
≥768px	Large	-lg
≥992px	Extra large -xl
≥1200px*/

@media (max-width: 576px) { 
    .card{
        margin-top: 20%;
    }

 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
    .card{
        margin-top: 20%;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
    .card{
        margin-top: 15%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1999px) { 
    .card{
        margin-top: 10%;
    }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .card{
        margin-top: 5%;
    }
 }